<!-- <link rel="stylesheet" type="text/css" href="./forum-home.component.css"> -->
<div class="container">
  <div class="row">
      <h4>Topics</h4>
      <div id="create_topic">
          <a  id = "create" class="btn btn-large btn-info" routerLink="./topic/new">Create New Topic</a>
      </div>
  </div> 
  <div class="card" *ngFor="let eachPost of posts">
    <div class="card-body">
      <div class="row">
        <p>
          <a class="float-left" (click)="redirect(eachPost.postID)"><strong>{{ eachPost.postTitle }}</strong></a>
        </p>
        <p>
          {{ eachPost.postType }}
        </p>
      </div>
      <div class="row">
        <div class="clearfix"></div>
        <p>{{ eachPost.postContent }}</p>
      </div>
      <div class="row">
        <p>
          {{ eachPost.userID }}
        </p>
        <p>
          {{ eachPost.dateCreated }}
        </p>
      </div>
    </div>
  </div>
</div>
