<div class="container">
  <div class="row">
      <h4>Topics</h4>
  </div> 
  <div class="card" *ngFor="let eachPost of posts">
    <div class="card-body">
      <div class="row">
        <p>
          <a class="float-left" (click)="redirect(eachPost.postID)"><strong>{{ eachPost.title }}</strong></a>
        </p>
        <p>
          {{ eachPost.type }}
        </p>
      </div>
      <div class="row">
        <div class="clearfix"></div>
        <p>
          {{eachPost.content}}
        </p>
        <p>
          {{ eachPost.author }}
        </p>
      </div>
    </div>
  </div>
</div>
