body {
    background: url(../../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	font-size: 3em;
	font-family: Impact, sans-serif;
	width: 100%;
	color: #fff;
    text-shadow: 2px 2px 4px #000000;
	clear: both;
}


ul {

	list-style:none;
    padding-left:0;
}

li {
    color: #fff;
	list-style-type: none;
}

.signup {

	padding: 0;
}

.text-input {

	border: 1px solid #000;
    margin-top: 10px;
}

.radio-label {
   display: inline-block;
    vertical-align: top;
    margin-right: 3%;
}

#signup-button {

	border-radius: 15%;
	background: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    cursor: pointer;

}
