.updatePW {
    min-width: 200px;
    width: 30%;
    z-index: 15;
    top: 25%;
    margin-left: 35%;
    padding: 0px 0px;
    border: 1px;
}

.updatePW h1 {
    font-size: 2em;
    font-family: Impact, sans-serif;
    width: 100%;
    float: center;
    color: #fff;
    text-shadow: 2px 2px 2px #000000;
    clear: both;
}

.updatePW input, .updatePW button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.updatePW input {
    width: 70%;
    margin-left: 0%;
}

.updatePW button {
    width: 50%;
    margin-left: 25%;
}