<div>
  <p>My Messages:</p>
  <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
        <th scope="col">Post Link</th>
      </tr>

      <tr *ngFor="let cm of comments, let i = index">
        <th>{{cm.content}}</th>
        <th>{{cm.dateCreated._seconds * 1000 | date:'MM-dd-yyyy' }}</th>
        <th>
          <a class="view" (click)="checkAndRedirect( cm.postId , i )">View it</a>
          </th>
      </tr>
      </thead>

  </table>

</div>
