

<div class="container">
  <nav class="navbar">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a routerLink="/topics">My Topics</a>
      </li>
      <li class="nav-item">
        <a routerLink="/comments">My Comments</a>
      </li>
      <li class="nav-item" *ngIf="authService.isTeacher() || authService.isAdmin()">
        <a routerLink="/allUsers">View Users</a>
      </li>
      <li class="nav-item" *ngIf="authService.isTeacher() || authService.isAdmin()">
        <a routerLink="/newUser">New User</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
