<div class="container">
    <div class="row">
        <h4 class="logo">Private Posts</h4>
    </div> 
    <div class="card" *ngFor="let eachPost of posts" >
      <div class="card-body">
        <div class="row">
          <p>
              <a class="float-left title" routerLink="/homepage/postdetail/{{ eachPost.postId }}"> Title: <strong> {{ eachPost.title }}</strong></a>
          </p>
        </div>
        <div class="row">
          <div class="clearfix"></div>
          <p>
            Author: {{ eachPost.author }}
            {{eachPost.dateCreated._seconds * 1000 | date:'MM-dd-yyyy' }}
          </p>
        </div>
      </div>
    </div>
  </div>
  