<div>
    <h1>Signup New Account </h1>

		<form>
			<ul>
				<li>
          <span class="label"> Email : </span>
          <input [(ngModel)]="email" class="text-input" type="text"  placeholder="Email" name="email" required="true"/>
				</li>
				<li>
					<span class="label"> Nickname : </span>
					<input [(ngModel)]="nickname" class="text-input" type="text" name="nickname" required="true"/>
				</li>
				<li>
					<span class="label"> Password :  </span>
					<input [(ngModel)]="password" class="text-input" type="password" name="password" required="true"/>
        <li>
          <span class="label"> School :  </span>
          <input [(ngModel)]="schoolname" class="text-input" type="password" name="password" required="true"/>
        </li>
        <li>
          <span class="label"> Field :  </span>
          <input [(ngModel)]="field" class="text-input" type="password" name="password" required="true"/>
        </li>
      </ul>

      <button class="button" onclick="createUsername()">Create my unique username</button><br>

      <span>Username: {{Username}}</span> <br>

			<button class="signup-button">Sign up</button>
	
		</form>
</div>
