@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
 }
 
body {
    background: url(assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: 'lato', sans-serif;
}
