<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/admsignup.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



</head>
<body>

	<p>Add a new student account</p>
	<form>
		<ul>
			<li class="ss-item-required">
				<span class="label"> Nickname : </span>
				<input class="text-input" type="text" id="nickname" placeholder="Nickname" title="Type in nickname of student" name="nickname" required="true"/><br>
			</li>
			<li class="ss-item-required">
				<span class="label"> Password :  </span>
				<input class="text-input" type="password" id="password" name="password" required="true"/>
			</li>
		<ul>
	</form>
	
	<table id="myTable">
	  <tr>
	  </tr>
	</table>
	<br>
	
	<button onclick="myFunction()"> Create </button>

	<script src="assets/js/admin.js"></script>
</body>
</html>
