<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Global Post Pages</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/Global_post.css" />
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
	</head>
	<body>
		<div id="bar" class="navbar">
			<a id = "home" class = "test" href="">Home</a>
			<a class = "test" id="status" href="">Profile</a>
			<a class="nav-item">
				<form class="form-inline my-2 my-lg-0">
					<button id = "refresh" class="btn btn-outline-success my-2 my-sm-0" type="submit">Refresh</button>
					<button id = "newpost" class="btn btn-outline-success my-2 my-sm-0" type="submit">New Post</button>
					<input id = "search_area"class="form-control mr-sm-2" type="search" placeholder="Sreach the post" aria-label="Search post" />
					<button id = "search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


				</form>
			</a>
		</div>
		<div id ="row">
			<div id = "first" class="column" style="background-color:#ffecd2;">
				<h2> <a class = title href="">How to plant a tomato</a></h2>
				<p class = txt>If I want to plant a tomato what should I do?</p>
				<p class = datatime><time>9/3 10:59</time></p>
			</div>
			<div class="column" style="background-color:#ffecd2;">
				<h2> <a class = title href="">What is added sugar, and why is it not healthy in food?</a></h2>
				<p class = txt>Added sugar is sugar added during the making of processed food and.......</p>
				<p class = datatime><time>9/3 10:57</time></p>
			</div>
			<div class="column" style="background-color:#ffecd2;">
				<h2> <a class = title href="">What are empty calories?</a></h2>
				<p class = txt>Empty calories are calories we get from solid fats or adde...</p>
				<p class = datatime><time>9/3 09:00</time></p>
			</div>
			<div class="column" style="background-color:#ffecd2;">
				<h2> <a class = title href="">Can caffeine be consumed safely?</a></h2>
				<p class = txt>It is safe for adults to consume caffeine, as long as it...</p>
				<p class = datatime><time>7/3 18:00</time></p>
			</div>

		</div>


		<script src="../js/Global_post.js"></script>
	</body>
</html>