<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Team 11">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/profile.css" media="screen" />
		<title>Instructor - Lecture Selection</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
	    <script type="text/javascript" src="assets/js/instructor-profile.js"></script>
	</head>
	<body>
		<header class='topbar'>

			<h1>Welcome <span id="header-user-name">Name</span></h1>

			<nav id="menu">
				<ul>
					<li>
						<a href="">Change Your Password</a>
					</li>
				</ul>

			</nav>

		</header>
		
		<main>
			
			<section id="courses" class="section-contect">

				<h2>Courses</h2>
				
				<ul id="courseList">
					<li tabindex="1">
						<button class="delete-course-button">Delete</button>
						<label>Course Code</label>
					</li>
					<li tabindex="1">
						<button class="delete-course-button">Delete</button>
						<label>Course Code</label>
					</li>
				</ul>

				<button id="add-item-button">Add New Course</button>

			</section>

			<section id="lecture-section" class="section-contect">

				<h2>Section</h2>

				<ul id="sectionList">
					<label class="lecture-section-radio">
						<input type="radio" value="L0101" name="lecture-section-selection" onclick="">
						<span class="radio-text">Section L0101</span>
					</label>

					<label class="lecture-section-radio">
						<input type="radio" value="L0102" name="lecture-section-selection"onclick="">
	 					<span class="radio-text">Section L0102</span>
					</label>
				</ul>

				<button id="add-item-button">Add New Section</button>
  				

			</section>

			<section id="lectures" class="section-contect">

				<h2>Lecture</h2>

				<ul id="lecture-item-list">
					<details class="lecture-items">
						<summary>Lecture 1</summary>

						<form action="">
							<input class="file-input" type="file" name="lecture" accept="pdf, ppt">
							<br>
							<input class="upload-lecture-button" type="submit" value="Upload">
						</form>
						
					</details>

					<details class="lecture-items">
						<summary>Lecture 2</summary>

						<form action="">
							<input class="file-input" type="file" name="lecture" accept="pdf, ppt">
							<br>
							<input class="upload-lecture-button" type="submit" value="Upload">
						</form>
						
					</details>

					<details class="lecture-items">
						<summary>Lecture 3</summary>

						<form action="">
							<input class="file-input" type="file" name="lecture" accept="pdf, ppt">
							<br>
							<input class="upload-lecture-button" type="submit" value="Upload">
						</form>	
						
					</details>

					<details class="lecture-items">
						<summary>Lecture 4</summary>

						<form action="">
							<input class="file-input" type="file" name="lecture" accept="pdf, ppt">
							<br>
							<input class="upload-lecture-button" type="submit" value="Upload">
						</form>
						
					</details>
				</ul>

				<button id="add-item-button">Add New Lecture</button>

			</section>

		</main>

		<footer>
			Instant Lecture Q&#38;A
		</footer>
		
	</body>
</html>