<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>LectureRoom</title>
  <link rel="stylesheet" href="assets/css/lecture.css"/>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
  <script type="text/javascript" src="assets/js/lecture_teacher.js"></script>
</head>

<body>

<header>
  <strong>CSC309</strong>
</header>

<div class="main row col-12">
<!-- Left Side Panel-->
<div id="leftSide" class="col-8 row">
<section id="showPDF" class="wrapper">
  <div class="responsive-wrapper-left">
     <iframe type="application/pdf" src="./../document/CSC309-Project-Phase1.pdf"></iframe>
  </div>
</section>

<footer id="postQuestion" class="wrapper row">
    <!-- <span><b>MyQuestion</b></span> -->
    <div id="questionDetail">
      <div id="middle"><button id="endButton">Close Lecture</button></div>
    </div>
 </footer>
</div>
<!-- Left Side Panel-->


<!-- Right Side Panel-->
<div id="rightSide" class="row">
  <aside id="showQuestion" class="wrapper">
  <span id="hideButton"></span>
  <h2>All Questions</h2>
  <hr class="line">
  <div class="feed_list" id="feedList">
    <article class="feed wrapper"><button class="like_buttons" id="like_button1">Like 27</button><p class=="row">Question1</p><button class="delete_buttons" id="delete_button1">Delete</button><p class=="row">I don't know how to read the word</p>
    </article>
    <article class="feed wrapper"><button class="like_buttons" id="like_button2"> Like 22</button><p class=="row">Question2</p><button class="delete_buttons" id="delete_button2">Delete</button><p class=="row">I don't know how to read the word</p>
    </article>    
  </div>
  </aside>
</div>
<!-- Right Side Panel-->

</div>

</body>
</html>
