<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/signin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
	<body>
	<section class="signin" id="input_userinfo">
			<h1> Action Against Hunder</h1>
			<form action="/signin" method="post">	
				<input type="email" id="txtEmail" placeholder="Enter U of T email" name="email" required/>
				<input type="password" id="txtPassword" placeholder="Enter Password" name="password" required/>
			<input id="signin" type="submit" value="SignIn"/>
			</form>
	</section>
	
	<script src="assets/js/signin.js"></script>
	</body>
</html>