<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Team 11">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/profile.css" media="screen" />
		<title>Student - Lecture Selection</title>
	</head>
	<body>
		<header class='topbar'>

			<h1>Welcome <span id="header-user-name">Name</span></h1>

			<nav id="menu">
				<ul>
					<li>
						<a href="">Change Your Password</a>
					</li>
				</ul>

			</nav>

		</header>
		
		<main>
			
			<section id="courses" class="section-contect">

				<h2>Courses</h2>
				
				<ul>
					<li tabindex="1">
						<button class="delete-course-button">Delete</button>
						<label>Course Code</label>
					</li>
					<li tabindex="1">
						<button class="delete-course-button">Delete</button>
						<label>Course Code</label>
					</li>
				</ul>

				<button id="add-item-button">Add New Course</button>

			</section>

			<section id="lecture-section" class="section-contect">

				<h2>Section</h2>

				<ul>
					<label class="lecture-section-radio">
						<input type="radio" value="L0101" name="lecture-section-selection" onclick="">
						<span class="radio-text">Section L0101</span>
					</label>

					<label class="lecture-section-radio">
						<input type="radio" value="L0102" name="lecture-section-selection"onclick="">
	 					<span class="radio-text">Section L0102</span>
					</label>
				</ul>

				<button id="add-item-button">Add New Section</button>
  				

			</section>

			<section id="lectures" class="section-contect">

				<h2>Lecture</h2>

				<ul id="lecture-item-list">
					<li class="lecture-items"><a href="">Lecture 1</a></li>

					<li class="lecture-items"><a href="">Lecture 2</a></li>

					<li class="lecture-items"><a href="">Lecture 3</a></li>

					<li class="lecture-items"><a href="">Lecture 4</a></li>


				
				</ul>

				<button id="add-item-button">Add New Lecture</button>

			</section>

		</main>

		<footer>
			Instant Lecture Q&#38;A
		</footer>
		
	</body>
</html>