<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Team 6">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/profile.css" media="screen" />
		<title>Profile</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
	    <script type="text/javascript" src="assets/js/teacher_profile.js"></script>
	</head>
	<body>
	<!--Navigation bar-->
	<div id="nav-placeholder"></div>

		<header class='topbar'>
			<h1>Welcome teacher </span></h1>
			<nav id="menu">
				<ul>
					<li>
						<button id="updatepassword" onclick="location.href = '/updatepassword'"> Change Your Password</button>
					</li>
					<li>
						<button id="createstudents" onclick="location.href = '/createstudent'"> Create student accounts </button>
					</li>
				</ul>
			</nav>
			<h1><span id="header-user-name"><%= username %></span></h1>
		</header>

		<main>
			<div id = "profileInfo">
				<img class='img-circle' src="image/uoft.jpg"/>
				<p>Name: <span><%= username %></span></p>
				<p>School Name: <span><%= school %></span></p>
				<p>School Location: <span>Toronto</span></p>

				<div class="student">
					<b>Student Information</b>
					<span>Nickname => Username</span>
					<table id="studentTable" class='studentTable'>
						<tbody>
						</tbody>
					</table>

				</div>

			</div>

			<div id='timeline'>
				<div class='timelineHeader'>
					<ul>
						<li><a href="">Posts</a></li>
						<li><a href="">Post & Replies</a></li>
					</ul>
				</div>
				<div id='post'>
					<!-- Reuse all of the tweet classes from the one above,
                    and just change the content of the tweet. -->
					<div class='postIconContainer'>
						<img class='postIcon' src="image/uoft.jpg"/>
					</div>

					<div class='postContent'><b>School1</b>
					</div>
					<div class='postContent'>
						<a>Grow you own apple!</a>
					</div>
					<img class='postContentPicture' src="image/apple.jpg"/>

				</div>
			</div>
		</main>
		
	</body>
</html>