<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/change_pw.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!------ Include the above in your HEAD tag ---------->
<!--Navigation bar-->
<div id="nav-placeholder"></div>
    
<div class="container">

    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="pw-form">
                <form method="post" action="/update_pw" id="reset">

                    <input type="password" class="form-control input-lg" id="password" placeholder="Enter Password" required="" />

                    <input type="password" class="form-control input-lg" id="password2" placeholder="Re-enter Password" required="" />
                    <input id="set" type="button"  class="btn btn-lg btn-primary btn-block" value="Reset password"/>

                </form>
            </section>
        </div>

        <div class="col-md-4"></div>

    </div>

</div>
<script type="text/javascript" src="assets/js/update_pw.js"></script>
</body>

</html>