<nav id="nav" ng-click="$event.preventDefault()">
    <a class="home">
        <div class="rainbow-text">
          <div>
            <span class="letters title-text" id="a1">Action Against Hunger</span>
          </div>
        </div>
      </a><br>
    <a routerLink="/homepage/public" class="home">Global </a>
    <a routerLink="/homepage/private" class="home">My school </a>
    <a routerLink="/homepage/story" class="home">Story</a>
    <a routerLink="/homepage/createpost" class="home">New Post</a>
    <a routerLink="/homepage/createstory" class="home">New Story</a>
    <a routerLink="/homepage/postdetail" style="visibility: hidden">ViewPost</a>
    <a routerLink="/" class="home right">log out</a>
    <a routerLink="/homepage/profile" class="home right">Profile</a>
</nav>
