* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

hr.line {
    background-color: #fff;
    border-top: 2px solid #8c8b8b;
} 

html, body {
    margin: 0;
    padding:0;
    height: 100%;
    overflow: auto;
}

header{
    margin:0rem;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.main{
	height:100%;
}

#leftSide, #rightSide{
	height:100%;
}

#rightSide h2, p{
	color:black;
}

.wrapper {
  margin: 1rem;
  padding: 0.8rem;
  border: 5px inset #4f4f4f;
}

#showPDF {
  max-height: 80%;
  overflow: hidden;
}

.responsive-wrapper-left {
  position: relative;
  height: 0;  
  overflow: hidden;
  padding-bottom: 57%;
}

.responsive-wrapper-left iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: none;
  padding: 0;
  margin: 0;
}

#postQuestion {
  border: 5px inset #4f4f4f;
  background-color: black;
}

#postQuestion span, input{
  float:left;
 }

textarea, input, textarea {
	color:black;
	float:left;
}

#postButton {
	  font-size: 2rem;
      display: block;
      height: 4.8rem;
      width: 4.8rem;
      border-radius: 50%;
      background-color: green;
      border: 2px solid white;
}

#endButton {
	background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#showQuestion {
  height: 95%;
  overflow: hidden;
  background-color: lightblue;
  overflow: auto;	
}

#hideButton{
   float:left;
   border: 0px outset white;
   background:url(../../image/zoom.png);
   background-size:cover;
   height:2rem;
   width:2rem;
   cursor:pointer;
}

#questionDetail {
	height: 100%; 
	width:100%; 
	font-size: 0;
}

#left, #middle, #right {display: inline-block; 
	*display: inline; zoom: 1; 
	vertical-align: top; 
	font-size: 12px;
}

.feed {
	background-color: pink;
	margin-bottom: 2rem;
}


.like_buttons {
    background-color: green;
    float: left;
}

.delete_buttons {
	background-color: red;
	float:right;
}

.hide {
	display:none;
}

/* For mobile phones: */
[class*="col-"] {
    float: left;
    width:100%;
}



@media only screen and (min-width: 800px) {
    /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


html, body {
    overflow: hidden;
}

.open-right {
	width:91.66%;
}
}

