#total { 
  background: url(../views/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
 width: 100%;
   margin: 0;
   padding: 0;
   background-color:#000
   top: 0;
   left: 0;
}



#status {
	position: absolute;
	margin-left: 60px;
}


#comment_box {
	margin-top: 5px;
	margin-left: 25px;
	background-color: ;
	width: 80%;
	height: auto;

}


#post {
	margin-left: 5%;
	background-color: #7FDBFF;
	margin-top: 30px;
	width: 90%;
	height: auto;
	 border-style: outset;
}

.post_s {
	/*position: absolute;*/
	margin-left: 5%;
}

#post_type {
	float: left;
}


#bar {
	background-color: #CCFFFF;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


#submit {
	background-color: #7FDBFF;
	margin-left: 70px
	
}


#row {
  width: 70%;
  margin-top: 20px;
  margin-left: 70px;
  display: table;
  height: auto;
  clear: both;
}


.comment_text{
	margin-left: 30px;
}


.a_type {
	margin-left: 30px;
}

.comment_content {
	margin-left: 30px;
	height: auto;
}
#article {
	width: 70%
	height: auto;
}





.column {
  margin-left: 25px;
  float: left;
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  height: auto;
  border-style: outset;

}

.follow_up {
	border:1px solid black;
	margin-left: 20px;
}

.upper_comment {
	border:1px solid black;
}


.follow_text {
	width: 500px;
	float: left;
	height: 37px;
}

.follow_box {
	margin-top: 5px;
}


